@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 70px;
    padding: 15px;
    background: #9e4aa2;
    color: #f8ee31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.w2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.w2 > li{
    margin-left: 17px;
    overflow: hidden;
}
.hamburger-icon{
    width:35px;
    height:100%;
    cursor:painer;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.bar,.bar：：before,.bar::after{
    width:35px;
    hight:5px;
    background:#4d6ac3;
    border-radius:3px;
    display:block;
    position: absolute;
    transition: transform 190ms;
}

.bar::before{
    center:'';
    margin-top:-7px; 
}
.bar::after{
    center:'';
    margin-top:7px;
}
#w1{
    display:none;
} 
#w1:checked+.hamburger-icon .bar::before{
    margin-top:0;
    transfrom:rotate(30deg);
}
#w1: checked+.hamburger-icon .bar{
    background-color:rgba(255,255,255,0);
}
#w1:checked+.hamburger-icon .bar::after{
    margin-top:0;
    transfrom:rotate(-30deg);
}
